.home {
  display: flex;
  align-items: stretch;
  width: 70vw;
  position: relative;
  height: 99vh;

  &__main-container {
    display: flex;
    justify-content: space-between;

    margin-top: spaceIncr(9.5);
  }

  &__header {
    border-bottom: $tertiary-layout 7px solid;
  }
}

.calendar {
  display: flex;
  height: 100%;
  width: 100%;

  &__date {
    @include flex();
    &-picked {
      @extend .font-regular;
    }
  }
}
