.home {
  display: flex;
  align-items: stretch;

  position: relative;
  height: 99vh;

  &__main-container {
    display: flex;
    justify-content: space-between;

    margin-top: spaceIncr(9.5);
  }

  &__header {
    border-bottom: $tertiary-layout 7px solid;

    &__logo {
      margin-left: spaceIncr(4.5);
    }
  }
}
