.newPage {
  @include flex(column);
  position: absolute;
  z-index: 1;
  top: 0;
  background-color: $menu-primary-background;
  width: 100%;
  padding: spaceIncr(2.5) spaceIncr(0);
}
.ui.search.selection.dropdown {
  @extend .font-form;
  padding: spaceIncr(1);
  min-width: 15rem;
  &:hover {
    border-color: $form-selection;
  }
  &:focus {
    border-color: $form-selection;
  }
}
.addNewEntry {
  &__title {
    @extend .font-form-title--main;
    color: $primary-font;
  }
  &__form {
    &__label {
      @extend .font-form-label;
    }
    &__selection {
      padding: 0px;

      margin: spaceIncr(2);

      &--container {
        margin-top: spaceIncr(5);
        margin-bottom: spaceIncr(1);
        @include flex(column);
      }
    }
  }
}
