.polygon {
  clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}

.add-shadow-btn {
  filter: drop-shadow(20px 20px 0px rgba(221, 115, 115, 0.25));
}

.add-shadow {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.no-border-outline {
  border: none;
  outline: none;
}

.no-list-style {
  list-style: none;
}

.link-decoration {
  font-family: "Exo 2";
  font-weight: 500;
  text-decoration: none;
  color: $primary-font;
  font-size: font-size(2.5);
  &:hover {
    color: $secondary-font;
  }

  &:focus {
    color: $secondary-font;
    padding-bottom: spaceIncr(1.5);
    border-bottom: $secondary-font 2px solid;
  }
}

.btn-global {
  @extend .no-border-outline;

  width: 150px;
  height: 50px;
  border-radius: 5px;

  color: $secondary-font;
  background-color: $button-global;

  &:hover {
    color: $primary-font;
    background-color: $button-global-focus-clicked;
  }
}

.font-regular {
  font-family: "Exo 2";
  font-weight: 300;
  font-size: font-size(2.5);
  text-transform: uppercase;
}
.font-regular-lite {
  font-family: "Exo 2";
  font-weight: 300;
  font-size: font-size(5);
  text-transform: uppercase;
}

.font-sideways {
  font-family: "Exo 2";
  font-weight: 200;
  font-size: font-size(3.5);
  writing-mode: vertical-rl;
  text-orientation: mixed;
  text-transform: uppercase;
}

.font-button {
  font-family: "Exo 2";
  font-size: font-size(2.5);
  font-weight: 300;
  border: none;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
}

.font-button--secondary {
  font-family: "Exo 2";
  font-size: font-size(2);
  font-weight: 300;
  border: none;
  outline: none;
  cursor: pointer;
  text-transform: capitalize;
}

.font-calendar-regular {
  font-family: "Exo 2";
  font-weight: 300;
  font-size: font-size(3);
  text-transform: capitalize;
}

.font-calendar-regular--uppercase {
  font-family: "Exo 2";
  font-weight: 300;
  font-size: font-size(2.5);
  text-transform: uppercase;
}

.calendar-background {
  background-color: $primary-background;
  border: $menu-navigation--hover 1px dotted;

  &:disabled {
  }
  &:enabled {
  }
  &:focus {
    background-color: $focus;
  }
}
