$padding: 8px;
$font-size: 8px;

$primary-background: #ffffff;

$secondary-background: #2e2c2f;
$secondary-background-opacity: rgba(46, 44, 47, 0.5);

$primary-layout: #729b79;
$secondary-layout: #475b63;
$tertiary-layout: #bacdb0;

$focus: #dd7373;

$button-start: #46634b;
$button-focus-clicked-start: #dd7373;

$button-global: #46634b;
$button-global-focus-clicked: #f9f8f8;

$primary-font: #2e2c2f;
$secondary-font: #f2f7f5;
$tertiary-font: #ffffff;

$menu-primary-background: #f9f8f8;
$menu-primary-layout: #2e2c2f;
$menu-secondary-layout: #eb9486;
$menu-tetiary-layout: #729b79;
$menu-navigation--hover: #bdb2b2;
$menu-border-panel--right: #ece9e9;

$border: #786868;
$keepsake: #edf2f4;
$keepsake2: #272838;
$keepsake3: #007090;
$keepsake4: #006989;
$keepsake5: #635457;
$keepsake6: #eaebed;

$calender-primary: #f9f8f8;
$calendar-navigation: #2e2c2f;
$calendar-aria-labels: #46634b;
