$padding: 8px;
$font-size: 8px;

$primary-background: #ffffff;

$secondary-background: #2e2c2f;
$secondary-background-opacity: rgba(46, 44, 47, 0.5);

$primary-layout: #fad4c0;
$secondary-layout: #475b63;
$tertiary-layout: #fee9e1;

$button-start: #729b79;
$button-focus-clicked-start: #fad4c0;

$button-global: #f9f8f8;
$button-global-focus-clicked: #f9f8f8;

$primary-font: #2e2c2f;
$secondary-font: #f2f7f5;
$tertiary-font: #ffffff;

$menu-primary-background: #f9f8f8;
$menu-primary-layout: #2e2c2f;
$menu-secondary-layout: #729b79a6;
$menu-tetiary-layout: #519e8a;
$menu-navigation--hover: #b09e99;
$menu-navigation--hover-lite: #bdb2b23b;
$menu-navigation--hover-lighter: #f9f8f8d7;
$menu-border-panel--right: #ece9e9;

$border: #8d7c7c;
$border-accent: #2e2c2f;

$calendar-primary: #f9f8f8;
$calendar-navigation: #2e2c2f;
$calendar-aria-labels: #f9f8f8;
$calendar-active-now: #fad4c0;
$calendar-hover: #fad4c0;
$calendar-hover-lite: RGBA(239, 255, 176, 0.5);

$form-selection: #729b79a6;
/******TESTING FOR COMPONENTS DEPENDENCIES | REACT LIBARIES ******/
$test1: #edf2f4;
$test2: #dd7373;
$test3: #007090;
$test4: #006989;
$test5: #635457;

$test6: #729b79;
$test7: #bacdb0;
$test8: #6fd08c;
$test9: #b0f2b4;
