.btn__start {
  @extend .polygon;
  @include animation-spin;
  animation: spin 15s linear infinite;
  @extend .no-border-outline;

  width: 120px;
  height: 120px;
  background-color: $button-start;

  &:hover {
    background-color: $button-focus-clicked-start;
  }
  &:focus {
    @extend .no-border-outline;
  }

  &__container {
    @include flex;
    @extend .add-shadow-btn;
    position: relative;
  }
  &__txt {
    @extend .font-button--secondary;

    position: absolute;
    z-index: 1;
    top: 42%;

    color: $secondary-font;
  }
}

.btn__CTA {
  @extend .btn-global;
  @extend .font-button--secondary;
}

.btn__open {
  @include flex();
  @extend .no-border-outline;

  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  width: 2.5vw;
  height: 100%;

  background-color: $menu-primary-layout;
  color: #edf2f4;
  &--txt {
    @extend .font-sideways;
  }
}

.btn__next {
  @extend .font-button;
  width: 30vw;
  height: 5vh;
  background-color: transparent;

  &:hover {
    background-color: $menu-navigation--hover;
  }
}

.btn__modal {
  @include flex(row, flex-start);
  @extend .icon-global;
  position: relative;
  width: 11.5em;
  height: 3em;
  &--txt {
    @include flex;
    @extend .font-regular;
    padding: 10px 10px;
    border: transparent 10px solid;
    color: transparent;
    &:hover {
      color: white;
      @extend .close-animation;
    }
  }
}
