.react-calendar {
  position: relative;
  z-index: 0;
  max-height: 100vh;
  width: 70vw;
  padding: spaceIncr(0) spaceIncr(2);

  &--selectRange {
    &:active {
      background-color: blue;
    }
    .react-calendar__tile {
      &--hover {
        background-color: rgb(230, 230, 230);
      }
    }
  }
  &__navigation {
    width: 100%;
    height: 3.5rem;
    &__label {
      @extend .no-border-outline;
      @extend .font-calendar-regular;
    }
    &__arrow {
      width: 10%;

      border: none;
    }
    &:enabled {
    }
  }

  &__tile {
    position: relative;
    @include flex(row, flex-start, flex-start);
    @extend .no-border-outline;
    @extend .calendar-background;
    padding: spaceIncr(2) spaceIncr(1.5);
    width: 5vw;
    height: 10vh;

    &--now {
      border: none;
      background-color: $focus;
    }
  }

  &__month-view {
    &__weekdays {
      @extend .font-calendar-regular--uppercase;
      &__weekday {
        padding: 0.5em;
      }
    }
    abbr {
      text-decoration: none;
    }
  }
}
