.react-calendar {
  @extend .calendar-main;
  position: relative;
  z-index: 0;

  &__navigation {
    @extend .calendar-navigation;
    &__label {
      @extend .calendar-navigation--label;
    }
    &__arrow {
      @extend .calendar-navigation--arrow;
    }
  }

  &__century-view &__tile {
    @include flex();
    @extend .calendar-year-decade-century;
  }
  &__decade-view &__tile {
    @include flex();
    @extend .calendar-year-decade-century;
  }
  &__year-view &__tile {
    @include flex();
    @extend .calendar-year-decade-century;
  }

  &__month-view {
    padding: spaceIncr(1.5) spaceIncr(0);
    border-top: $border 4px double;
    background-color: test1;

    &__weekdays {
      @extend .font-calendar-regular--uppercase;

      &__weekday {
        @include flex(row, flex-start);
        padding: spaceIncr(1) spaceIncr(2);
      }
    }

    &__days {
      @extend .calendar-days;
    }
    abbr {
      text-decoration: none;
    }
  }

  &__tile {
    @extend .calendar-tile;
    @extend .font-calendar-regular--int;
    @include flex(row, flex-start, flex-start);
    position: relative;

    &--now {
      background-color: $calendar-active-now;
    }
    &--range {
      background-color: $calendar-hover-lite;
    }
    &--hover {
      background-color: $calendar-hover-lite;
    }
  }
}
