.header {
  @extend .add-shadow;
  background-color: $primary-layout;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  height: 7%;
  width: 100%;

  &__list {
    margin: spaceIncr(1.5) spaceIncr(20) 0;
    @include flex(row, space-between);
    align-content: center;
    @extend .no-list-style;
  }

  &__item {
    margin: 0 spaceIncr(5);

    &__link {
      @extend .link-decoration;
    }
  }

  &__container {
    &__links {
      @include flex;
    }
  }
}
