.menu {
  @include flex(row-reverse, flex-start, stretch);
  align-content: stretch;
  position: relative;
  background-color: $menu-primary-background;

  width: 30vw;
  max-height: auto;
  margin: 0 auto;

  &__home-title {
    @extend .font-sideways;
    color: $primary-font;

    &__container {
      @include flex;
      position: absolute;
      z-index: 2;

      width: 10%;
      height: 100%;

      background-color: $menu-primary-background;
      border-right: $border 10px double;
      border-left: $menu-border-panel--right 4px solid;
    }
  }
  &__options {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;

    background-color: $menu-primary-background;
  }
}

.sideBar {
  transform: translateX(-100%);
  transition: 0.5s ease-out;
  &--isactive {
    transform: translateX(0);
  }
}

.side-bar {
  &__content {
    width: 100%;
    height: 85%;
  }
  &__pages {
    @include flex(column, center, center);

    position: relative;
    z-index: 1;

    padding: spaceIncr(3);
  }
  &__list {
    @include flex(column, flex-end);
    @extend .no-list-style;

    position: absolute;
    top: -15px;

    width: 28vw;
    height: 100%;
  }
}
