@font-face {
  font-family: "Exo 2";
  src: url("../../src/assets/fonts/Exo2-ExtraBold.woff2") format("woff2"), url("../../src/assets/fonts/Exo2-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Exo 2";
  src: url("../../src/assets/fonts/Exo2-ExtraBoldItalic.woff2") format("woff2"), url("../../src/assets/fonts/Exo2-ExtraBoldItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Exo 2";
  src: url("../../src/assets/fonts/Exo2-ExtraLight.woff2") format("woff2"), url("../../src/assets/fonts/Exo2-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Exo 2";
  src: url("../../src/assets/fonts/Exo2-Thin.woff2") format("woff2"), url("../../src/assets/fonts/Exo2-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Exo 2";
  src: url("../../src/assets/fonts/Exo2-ThinItalic.woff2") format("woff2"), url("../../src/assets/fonts/Exo2-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Exo 2";
  src: url("../../src/assets/fonts/Exo2-SemiBoldItalic.woff2") format("woff2"), url("../../src/assets/fonts/Exo2-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Exo 2";
  src: url("../../src/assets/fonts/Exo2-MediumItalic.woff2") format("woff2"), url("../../src/assets/fonts/Exo2-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Exo 2";
  src: url("../../src/assets/fonts/Exo2-Regular.woff2") format("woff2"), url("../../src/assets/fonts/Exo2-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Exo 2";
  src: url("../../src/assets/fonts/Exo2-Light.woff2") format("woff2"), url("../../src/assets/fonts/Exo2-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Exo 2";
  src: url("../../src/assets/fonts/Exo2-Black.woff2") format("woff2"), url("../../src/assets/fonts/Exo2-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Exo 2";
  src: url("../../src/assets/fonts/Exo2-Medium.woff2") format("woff2"), url("../../src/assets/fonts/Exo2-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Exo 2";
  src: url("../../src/assets/fonts/Exo2-LightItalic.woff2") format("woff2"), url("../../src/assets/fonts/Exo2-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Exo 2";
  src: url("../../src/assets/fonts/Exo2-ExtraLightItalic.woff2") format("woff2"), url("../../src/assets/fonts/Exo2-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Exo 2";
  src: url("../../src/assets/fonts/Exo2-SemiBold.woff2") format("woff2"), url("../../src/assets/fonts/Exo2-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Exo 2";
  src: url("../../src/assets/fonts/Exo2-Italic.woff2") format("woff2"), url("../../src/assets/fonts/Exo2-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Exo 2";
  src: url("../../src/assets/fonts/Exo2-Bold.woff2") format("woff2"), url("../../src/assets/fonts/Exo2-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Exo 2";
  src: url("../../src/assets/fonts/Exo2-BlackItalic.woff2") format("woff2"), url("../../src/assets/fonts/Exo2-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Exo 2";
  src: url("../../src/assets/fonts/Exo2-BoldItalic.woff2") format("woff2"), url("../../src/assets/fonts/Exo2-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../../src/assets/fonts/PlayfairDisplay-MediumItalic.woff2") format("woff2"), url("../../src/assets/fonts/PlayfairDisplay-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../../src/assets/fonts/PlayfairDisplay-SemiBoldItalic.woff2") format("woff2"), url("../../src/assets/fonts/PlayfairDisplay-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../../src/assets/fonts/PlayfairDisplay-Medium.woff2") format("woff2"), url("../../src/assets/fonts/PlayfairDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../../src/assets/fonts/PlayfairDisplay-SemiBold.woff2") format("woff2"), url("../../src/assets/fonts/PlayfairDisplay-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../../src/assets/fonts/PlayfairDisplay-ExtraBoldItalic.woff2") format("woff2"), url("../../src/assets/fonts/PlayfairDisplay-ExtraBoldItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../../src/assets/fonts/PlayfairDisplay-Black.woff2") format("woff2"), url("../../src/assets/fonts/PlayfairDisplay-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../../src/assets/fonts/PlayfairDisplay-Italic.woff2") format("woff2"), url("../../src/assets/fonts/PlayfairDisplay-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../../src/assets/fonts/PlayfairDisplay-Bold.woff2") format("woff2"), url("../../src/assets/fonts/PlayfairDisplay-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../../src/assets/fonts/PlayfairDisplay-BlackItalic.woff2") format("woff2"), url("../../src/assets/fonts/PlayfairDisplay-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../../src/assets/fonts/PlayfairDisplay-BoldItalic.woff2") format("woff2"), url("../../src/assets/fonts/PlayfairDisplay-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../../src/assets/fonts/PlayfairDisplay-ExtraBold.woff2") format("woff2"), url("../../src/assets/fonts/PlayfairDisplay-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../../src/assets/fonts/PlayfairDisplay-Regular.woff2") format("woff2"), url("../../src/assets/fonts/PlayfairDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Exo 2";
  background-color: #f2f7f5;
}

.home {
  position: relative;
  height: 100%;
}

.home__main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 50px 0px 0px 0px;
}

.home__title {
  bottom: 0;
  right: 0;
  font-size: 60px;
  color: #faae2b;
  position: absolute;
}

.react-calendar {
  height: 775px;
  width: 100%;
  padding: 10px;
  background-color: #f2f7f5;
}

.react-calendar__navigation {
  width: 100%;
  height: 35px;
}

.react-calendar__navigation__label {
  font-size: large;
  font-family: "Exo 2";
  background-color: pink;
  border: none;
}

.react-calendar__navigation__arrow {
  width: 10%;
  background-color: plum;
  border: none;
  font-size: larger;
}

.react-calendar__navigation:enabled {
  background-color: pink;
}

.react-calendar__tile {
  width: 60px;
  height: 80px;
  font-size: larger;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  border: none;
}

.react-calendar__tile:enabled {
  background-color: pink;
}

.react-calendar__tile:enabled:focus {
  background-color: salmon;
}

.react-calendar .react-calendar__tile--range {
  background-color: salmon;
}

.header {
  background-color: #006d77;
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.menu {
  background-color: #83c5be;
  width: 75%;
  margin: 0 auto;
}

.footer {
  background-color: #193d41;
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  left: 0;
}
/*# sourceMappingURL=main.css.map */