/******TESTING FOR COMPONENTS DEPENDENCIES | REACT LIBARIES ******/
/**********************************ADD STYLES*************************************/
.add-shadow-btn, .btn__start__container {
  -webkit-filter: drop-shadow(20px 20px 0px rgba(221, 115, 115, 0.25));
          filter: drop-shadow(20px 20px 0px rgba(221, 115, 115, 0.25));
}

.add-shadow, .card__list, .header, .main-menu__more--this {
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.add-border-radius, .progress-bar__label, .card__list, .main-menu__more--container--mod, .main-menu__more--this, .expense__form--input {
  border-radius: 5px;
}

/**********************************NO STYLES*************************************/
.no-border-outline, .icon-global, .btn__modal, .btn-global, .btn__CTA, .expense__form--input__button, .calendar-tile, .react-calendar__tile, .calendar-navigation--arrow, .react-calendar__navigation__arrow, .calendar-navigation--label, .react-calendar__navigation__label, .btn__start, .btn__start:focus, .btn__open, .expense__form--input {
  border: none;
  outline: none;
}

.no-list-style, .card__list, .header__list, .side-bar__list {
  list-style: none;
}

/**********************************LINK STYLES*************************************/
.link-decoration, .header__item__link {
  font-family: "Exo 2";
  font-weight: 500;
  text-decoration: none;
  color: #2e2c2f;
  font-size: 20px;
  text-transform: uppercase;
}

.link-decoration:hover, .header__item__link:hover {
  color: #f2f7f5;
}

.link-decoration:focus, .header__item__link:focus {
  color: #f2f7f5;
  padding-bottom: 12px;
  border-bottom: #f2f7f5 2px solid;
}

/**********************************BUTTON STYLES*************************************/
.icon-global, .btn__modal {
  background-color: transparent;
  cursor: pointer;
}

.btn-global, .btn__CTA, .expense__form--input__button {
  width: 150px;
  height: 45px;
  border-radius: 5px;
  color: #f2f7f5;
  background-color: #46634b;
}

.btn-global:hover, .btn__CTA:hover, .expense__form--input__button:hover {
  color: #2e2c2f;
  background-color: #f9f8f8;
}

/***********************************FONT STYLES****************************************/
.font-regular, .btn__modal--txt, .clock__date {
  font-family: "Exo 2";
  font-weight: 300;
  font-size: 20px;
  text-transform: uppercase;
}

.font-regular-lite, .clock__time, .date-alert__date {
  font-family: "Exo 2";
  font-weight: 300;
  font-size: 40px;
  text-transform: uppercase;
}

.font-regular-hvy {
  font-family: "Exo 2";
  font-weight: 500;
  font-size: 40px;
  text-transform: uppercase;
}

.font-sideways, .btn__open--txt, .menu__home-title {
  font-family: "Exo 2";
  font-weight: 200;
  font-size: 28px;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: mixed;
  text-transform: uppercase;
}

.font-button, .btn__next, .expense__form--input__button {
  font-family: "Exo 2";
  font-size: 20px;
  font-weight: 300;
  border: none;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
}

.font-button--secondary, .btn__start__txt, .btn__CTA {
  font-family: "Exo 2";
  font-size: 16px;
  font-weight: 300;
  border: none;
  outline: none;
  cursor: pointer;
  text-transform: capitalize;
}

.font-calendar-regular, .calendar-navigation--label, .react-calendar__navigation__label {
  font-family: "Exo 2";
  font-weight: 300;
  font-size: 24px;
  text-transform: uppercase;
}

.font-calendar-regular--uppercase, .react-calendar__month-view__weekdays {
  font-family: "Exo 2";
  font-weight: 300;
  font-size: 20px;
  text-transform: uppercase;
}

.font-calendar-regular--int, .react-calendar__tile {
  font-family: "Exo 2";
  font-weight: 300;
  font-size: 20px;
  text-transform: uppercase;
}

.font-form, .ui.search.selection.dropdown {
  font-family: "Exo 2";
  font-size: 16px;
  font-weight: 300;
}

.font-form-label, .progress-bar__label, .card__title__container, .card__type__container, .main-menu__pet--name, .main-menu__more--of, .addNewEntry__form__label, .expense__form--label, .stats__text {
  font-family: "Exo 2";
  font-size: 20px;
  font-weight: 300;
}

.font-form-title, .card__date, .main-menu__title, .main-menu__more--of-this, .expense__title, .stats__thx {
  font-family: "Exo 2";
  font-style: italic;
  font-weight: 300;
  font-size: 24px;
}

.font-form-title--main, .addNewEntry__title {
  font-family: "Exo 2";
  font-style: italic;
  font-weight: 300;
  font-size: 28px;
  color: #bdb2b2;
}

/********************************** CALENDAR STYLES *******************************/
.calendar-main, .react-calendar {
  background-color: #ffffff;
  max-height: 100vh;
  width: 70vw;
  padding: 16px 16px;
}

.calendar-days, .react-calendar__month-view__days {
  height: 60vh;
  padding: 16px;
}

.calendar-tile, .react-calendar__tile {
  border-radius: 5px;
  background-color: #ffffff;
  margin: 8px 0px;
  padding: 12px 8px;
}

.calendar-tile:active, .react-calendar__tile:active {
  cursor: pointer;
}

.calendar-tile:hover, .react-calendar__tile:hover {
  cursor: pointer;
  background-color: #bacdb0;
}

.calendar-tile:disabled, .react-calendar__tile:disabled {
  cursor: not-allowed;
  background-color: #f9f8f8;
}

.calendar-navigation, .react-calendar__navigation {
  width: 100%;
  height: 3.5rem;
  margin-bottom: 12px;
}

.calendar-navigation--arrow, .react-calendar__navigation__arrow {
  border-radius: 5px;
  background-color: #f9f8f8;
  width: 10%;
  cursor: pointer;
}

.calendar-navigation--label, .react-calendar__navigation__label {
  border-radius: 5px;
  cursor: pointer;
  background-color: #2e2c2f;
  color: #f2f7f5;
}

.calendar-year-decade-century, .react-calendar__century-view .react-calendar__tile, .react-calendar__decade-view .react-calendar__tile, .react-calendar__year-view .react-calendar__tile {
  background-color: #f9f8f8;
  height: 9vh;
}

.calendar-year-decade-century:hover, .react-calendar__century-view .react-calendar__tile:hover, .react-calendar__decade-view .react-calendar__tile:hover, .react-calendar__year-view .react-calendar__tile:hover {
  background-color: #bacdb0;
}

.calendar-year-decade-century:disabled, .react-calendar__century-view .react-calendar__tile:disabled, .react-calendar__decade-view .react-calendar__tile:disabled, .react-calendar__year-view .react-calendar__tile:disabled {
  cursor: not-allowed;
  background-color: #f9f8f8;
}

/**********************************MODAL STYLES*************************************/
/**********************************FORM STYLES*************************************/
/**********************************MISC STYLES*************************************/
.polygon, .btn__start {
  -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
          clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}

.close-animation, .btn__modal--txt:hover {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 1s ease-in 0.5s;
  transition: all 1s ease-in 0.5s;
}

.close-animation--active {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

@font-face {
  font-family: "Exo 2";
  src: url("../../src/assets/fonts/Exo2-ExtraBold.woff2") format("woff2"), url("../../src/assets/fonts/Exo2-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Exo 2";
  src: url("../../src/assets/fonts/Exo2-ExtraBoldItalic.woff2") format("woff2"), url("../../src/assets/fonts/Exo2-ExtraBoldItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Exo 2";
  src: url("../../src/assets/fonts/Exo2-ExtraLight.woff2") format("woff2"), url("../../src/assets/fonts/Exo2-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Exo 2";
  src: url("../../src/assets/fonts/Exo2-Thin.woff2") format("woff2"), url("../../src/assets/fonts/Exo2-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Exo 2";
  src: url("../../src/assets/fonts/Exo2-ThinItalic.woff2") format("woff2"), url("../../src/assets/fonts/Exo2-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Exo 2";
  src: url("../../src/assets/fonts/Exo2-SemiBoldItalic.woff2") format("woff2"), url("../../src/assets/fonts/Exo2-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Exo 2";
  src: url("../../src/assets/fonts/Exo2-MediumItalic.woff2") format("woff2"), url("../../src/assets/fonts/Exo2-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Exo 2";
  src: url("../../src/assets/fonts/Exo2-Regular.woff2") format("woff2"), url("../../src/assets/fonts/Exo2-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Exo 2";
  src: url("../../src/assets/fonts/Exo2-Light.woff2") format("woff2"), url("../../src/assets/fonts/Exo2-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Exo 2";
  src: url("../../src/assets/fonts/Exo2-Black.woff2") format("woff2"), url("../../src/assets/fonts/Exo2-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Exo 2";
  src: url("../../src/assets/fonts/Exo2-Medium.woff2") format("woff2"), url("../../src/assets/fonts/Exo2-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Exo 2";
  src: url("../../src/assets/fonts/Exo2-LightItalic.woff2") format("woff2"), url("../../src/assets/fonts/Exo2-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Exo 2";
  src: url("../../src/assets/fonts/Exo2-ExtraLightItalic.woff2") format("woff2"), url("../../src/assets/fonts/Exo2-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Exo 2";
  src: url("../../src/assets/fonts/Exo2-SemiBold.woff2") format("woff2"), url("../../src/assets/fonts/Exo2-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Exo 2";
  src: url("../../src/assets/fonts/Exo2-Italic.woff2") format("woff2"), url("../../src/assets/fonts/Exo2-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Exo 2";
  src: url("../../src/assets/fonts/Exo2-Bold.woff2") format("woff2"), url("../../src/assets/fonts/Exo2-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Exo 2";
  src: url("../../src/assets/fonts/Exo2-BlackItalic.woff2") format("woff2"), url("../../src/assets/fonts/Exo2-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Exo 2";
  src: url("../../src/assets/fonts/Exo2-BoldItalic.woff2") format("woff2"), url("../../src/assets/fonts/Exo2-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../../src/assets/fonts/PlayfairDisplay-MediumItalic.woff2") format("woff2"), url("../../src/assets/fonts/PlayfairDisplay-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../../src/assets/fonts/PlayfairDisplay-SemiBoldItalic.woff2") format("woff2"), url("../../src/assets/fonts/PlayfairDisplay-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../../src/assets/fonts/PlayfairDisplay-Medium.woff2") format("woff2"), url("../../src/assets/fonts/PlayfairDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../../src/assets/fonts/PlayfairDisplay-SemiBold.woff2") format("woff2"), url("../../src/assets/fonts/PlayfairDisplay-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../../src/assets/fonts/PlayfairDisplay-ExtraBoldItalic.woff2") format("woff2"), url("../../src/assets/fonts/PlayfairDisplay-ExtraBoldItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../../src/assets/fonts/PlayfairDisplay-Black.woff2") format("woff2"), url("../../src/assets/fonts/PlayfairDisplay-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../../src/assets/fonts/PlayfairDisplay-Italic.woff2") format("woff2"), url("../../src/assets/fonts/PlayfairDisplay-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../../src/assets/fonts/PlayfairDisplay-Bold.woff2") format("woff2"), url("../../src/assets/fonts/PlayfairDisplay-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../../src/assets/fonts/PlayfairDisplay-BlackItalic.woff2") format("woff2"), url("../../src/assets/fonts/PlayfairDisplay-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../../src/assets/fonts/PlayfairDisplay-BoldItalic.woff2") format("woff2"), url("../../src/assets/fonts/PlayfairDisplay-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../../src/assets/fonts/PlayfairDisplay-ExtraBold.woff2") format("woff2"), url("../../src/assets/fonts/PlayfairDisplay-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../../src/assets/fonts/PlayfairDisplay-Regular.woff2") format("woff2"), url("../../src/assets/fonts/PlayfairDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.btn__start {
  -webkit-animation: spin 15s linear infinite;
          animation: spin 15s linear infinite;
  width: 120px;
  height: 120px;
  background-color: #46634b;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.btn__start:hover {
  background-color: #519e8a;
}

.btn__start__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: relative;
}

.btn__start__txt {
  position: absolute;
  z-index: 1;
  top: 42%;
  color: #f2f7f5;
}

.btn__open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 2.5vw;
  height: 100%;
  background-color: #2e2c2f;
  color: #edf2f4;
}

.btn__next {
  width: 30vw;
  height: 5vh;
  background-color: transparent;
}

.btn__next:hover {
  background-color: #bdb2b2;
}

.btn__modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: relative;
  width: 11.5em;
  height: 3em;
}

.btn__modal--txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 10px 10px;
  border: transparent 10px solid;
  color: transparent;
}

.btn__modal--txt:hover {
  color: white;
}

.progress-bar {
  position: relative;
  bottom: -40px;
  left: 100px;
  width: 320px;
}

.progress-bar__label {
  background-color: rgba(46, 44, 47, 0.589);
  font-size: 16px;
  text-transform: capitalize;
  font-weight: normal;
  color: #ece9e9;
}

.ui.progress .bar {
  background: #519e8a;
}

.clock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-top: 40px;
}

.clock__time {
  text-align: center;
}

.modal {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(46, 44, 47, 0.5);
}

.date-alert {
  border-top: #2e2c2f 10px solid;
  background-color: #bdb2b2;
  position: relative;
  top: 50vh;
  width: 100%;
  height: 45vh;
}

.date-alert__btn--container {
  padding: 16px;
  position: relative;
}

.date-alert__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  color: #f2f7f5;
}

.date-alert__date--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 8px;
}

.minus-svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 8em;
  height: 3em;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html body {
  font-family: "Exo 2";
  background-color: #ffffff;
  width: 100vw;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-top: 16px;
  position: relative;
  top: 0;
  z-index: 5;
  outline: none;
}

.card__list {
  border-top: #8d7c7c 8px solid;
  background-color: #f9f8f8;
  padding: 20px;
  margin: 16px;
  width: 20vw;
  height: 200px;
}

.card__list:hover {
  background-color: #f9f8f8d7;
}

.card__date {
  text-align: center;
}

.card__title__container {
  padding: 0px 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  border-bottom: #8d7c7c 5px solid;
}

.card__type__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 16px 8px;
}

.react-calendar {
  position: relative;
  z-index: 0;
}

.react-calendar__century-view .react-calendar__tile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.react-calendar__decade-view .react-calendar__tile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.react-calendar__year-view .react-calendar__tile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.react-calendar__month-view {
  padding: 12px 0px;
  border-top: #bdb2b2 4px double;
  border-bottom: #bdb2b2 4px double;
  background-color: test1;
}

.react-calendar__month-view__weekdays__weekday {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 8px 16px;
}

.react-calendar__month-view abbr {
  text-decoration: none;
}

.react-calendar__tile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: relative;
}

.react-calendar__tile--now {
  background-color: #519e8a;
}

.react-calendar__tile--range {
  background-color: RGBA(239, 255, 176, 0.5);
}

.react-calendar__tile--hover {
  background-color: RGBA(239, 255, 176, 0.5);
}

.header {
  background-color: #729b79;
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  height: 7%;
  width: 100%;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 12px 160px 0;
}

.header__item {
  margin: 0 40px;
}

.header__container__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  position: relative;
  background-color: #f9f8f8;
  width: 30vw;
  max-height: 88vh;
  margin: 0 auto;
}

.menu__home-title {
  color: #2e2c2f;
}

.menu__home-title__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: absolute;
  z-index: 2;
  width: 10%;
  height: 100%;
  background-color: #f9f8f8;
  border-right: #8d7c7c 10px double;
  border-left: #ece9e9 4px solid;
}

.menu__options {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  background-color: #f9f8f8;
}

.sideBar {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

.sideBar--isactive {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.side-bar__content {
  width: 100%;
  height: 85%;
}

.side-bar__pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: relative;
  z-index: 1;
  padding: 24px;
}

.side-bar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: absolute;
  top: -15px;
  width: 28vw;
  height: 100%;
}

.footer {
  border-top: #8d7c7c 10px ridge;
  background-color: #2e2c2f;
  position: fixed;
  z-index: 4;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6%;
}

.footer__icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.footer__icon-container__item {
  margin: 12px;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100vw;
  height: 100%;
  position: fixed;
  background: url(../../src/assets/img/calendula.png) no-repeat bottom;
  background-size: cover;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-bottom: 40px;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 70vw;
  position: relative;
  height: 99vh;
}

.home__main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 76px;
}

.home__header {
  border-bottom: #bacdb0 7px solid;
}

.home__header__logo {
  margin-left: 36px;
}

.main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.main-menu__title {
  position: relative;
  left: 80px;
}

.main-menu__pet--name {
  position: relative;
  left: 80px;
}

.main-menu__pet {
  position: relative;
}

.main-menu__pet--img {
  position: absolute;
  top: 120px;
  right: 120px;
}

.main-menu__pet--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 250px;
  background: #729b79a6 no-repeat center url(../../src/assets/img/calendula.png);
  background-size: cover;
  border-bottom: #8d7c7c 10px double;
}

.main-menu__more {
  background-color: #f9f8f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: relative;
  top: 120px;
  z-index: 1;
  left: 0;
}

.main-menu__more--container--mod {
  position: relative;
  top: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  text-align: center;
  width: 20vw;
  height: 5vw;
  background-color: #bdb2b23b;
}

.main-menu__more--of {
  width: 85%;
  font-size: 16px;
}

.main-menu__more--this {
  border-top: #8d7c7c 4px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 16px;
  background-color: #f9f8f8;
  width: 20vw;
  height: 200px;
}

.main-menu__more--this:hover {
  background-color: #f9f8f8d7;
}

.newPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: absolute;
  z-index: 1;
  top: 0;
  background-color: #f9f8f8;
  width: 100%;
  padding: 20px 0px;
}

.ui.search.selection.dropdown {
  padding: 8px;
  min-width: 15rem;
}

.ui.search.selection.dropdown:hover {
  border-color: #729b79a6;
}

.ui.search.selection.dropdown:focus {
  border-color: #729b79a6;
}

.addNewEntry__form__selection {
  padding: 0px;
  margin: 16px;
}

.addNewEntry__form__selection--container {
  margin-top: 40px;
  margin-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.expense {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.expense__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.expense__form--input {
  text-align: center;
  width: 15vw;
  height: 3vh;
  border: rgba(34, 36, 38, 0.15) 1px solid;
}

.expense__form--input:focus .expense__form--input:active {
  border: rgba(34, 36, 38, 0.15) 1px solid;
}

.expense__form--input__button {
  margin: 40px;
}

.expense__form--input__button:hover {
  background-color: #bacdb0;
}

.expense__form--label {
  margin: 24px 0px;
}

.stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.stats__text {
  width: 50%;
  text-align: center;
}

.stats__thx {
  width: 50%;
  text-align: center;
  text-transform: capitalize;
}
/*# sourceMappingURL=main.css.map */