/******TESTING FOR COMPONENTS DEPENDENCIES | REACT LIBARIES ******/
/**********************************ADD STYLES*************************************/
.add-shadow-btn, .btn__start__container {
  -webkit-filter: drop-shadow(20px 20px 0px rgba(162, 227, 196, 0.5));
          filter: drop-shadow(20px 20px 0px rgba(162, 227, 196, 0.5));
}

.add-shadow, .card__list, .header, .main-menu__card-list {
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.add-border-radius, .form__input, .card__list, .main-menu__card-list {
  border-radius: 5px;
}

/**********************************NO STYLES*************************************/
.no-border-outline, .icon-global, .icon, .btn-global, .btn__CTA, .btn__card, .form__button, .modal__btn, .calendar-tile, .react-calendar__tile, .calendar-navigation--arrow, .react-calendar__navigation__arrow, .calendar-navigation--label, .react-calendar__navigation__label, .btn__start, .btn__start:focus, .btn__open, .form__input {
  border: none;
  outline: none;
}

.no-list-style, .card__list, .header__list, .side-bar__list, .main-menu__card-list {
  list-style: none;
}

/**********************************LINK STYLES*************************************/
.link-decoration, .header__item__link {
  font-family: "Exo 2";
  font-weight: 500;
  text-decoration: none;
  color: #f2f7f5;
  font-size: 20px;
  text-transform: uppercase;
  padding: 21.6px 0;
  border-bottom: transparent 4px solid;
  margin: 0 8px;
}

.link-decoration:hover, .header__item__link:hover {
  color: #f2f7f5;
  padding: 21.6px 0;
  border-bottom: #f2f7f5 4px solid;
}

.link-decoration:focus, .header__item__link:focus {
  color: #f2f7f5;
  padding: 21.6px 0;
  border-bottom: #f2f7f5 4px solid;
}

/**********************************BUTTON STYLES*************************************/
.icon-global, .icon {
  background-color: transparent;
  cursor: pointer;
}

.btn-global, .btn__CTA, .btn__card, .form__button, .modal__btn {
  width: 150px;
  height: 45px;
  border-radius: 5px;
  color: #2e2c2f;
  background-color: #f9f8f8;
}

.btn-global:hover, .btn__CTA:hover, .btn__card:hover, .form__button:hover, .modal__btn:hover {
  color: #2e2c2f;
  background-color: #f9f8f8;
}

/***********************************FONT STYLES****************************************/
.font-regular, .clock__date, .card__entries, .calendar__date-picked, .main-menu__card-list__goal {
  font-family: "Exo 2";
  font-weight: 300;
  font-size: 20px;
  text-transform: uppercase;
}

.font-regular-lite, .clock__time {
  font-family: "Exo 2";
  font-weight: 300;
  font-size: 40px;
  text-transform: uppercase;
}

.font-regular-lite-small, .main-menu__card-list__label {
  font-family: "Exo 2";
  font-weight: 400;
  font-size: 12.8px;
  text-transform: uppercase;
}

.font-regular-lite-list, .card__item {
  font-family: "Exo 2";
  font-weight: 400;
  font-size: 14.4px;
  text-transform: uppercase;
}

.font-regular-lite-modal, .modal__text {
  font-family: "Exo 2";
  font-weight: 400;
  font-size: 14.4px;
  font-style: italic;
}

.font-regular-hvy {
  font-family: "Exo 2";
  font-weight: 500;
  font-size: 40px;
  text-transform: uppercase;
}

.font-sideways, .btn__open--txt, .menu__home-title {
  font-family: "Exo 2";
  font-weight: 200;
  font-size: 28px;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: mixed;
  text-transform: uppercase;
}

.font-button, .btn__CTA, .modal__btn {
  font-family: "Exo 2";
  font-size: 16px;
  font-weight: 300;
  border: none;
  outline: none;
  cursor: pointer;
  text-transform: capitalize;
}

.font-button--big, .btn__next, .btn__card, .form__button {
  font-family: "Exo 2";
  font-size: 20px;
  font-weight: 300;
  border: none;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
}

.font-button--secondary, .btn__start__txt, .modal__title {
  font-family: "Exo 2";
  font-size: 20px;
  font-weight: 500;
  border: none;
  outline: none;
  cursor: pointer;
  text-transform: capitalize;
}

.font-calendar-regular, .calendar-navigation--label, .react-calendar__navigation__label {
  font-family: "Exo 2";
  font-weight: 300;
  font-size: 24px;
  text-transform: uppercase;
}

.font-calendar-regular--uppercase, .react-calendar__month-view__weekdays {
  font-family: "Exo 2";
  font-weight: 300;
  font-size: 20px;
  text-transform: uppercase;
}

.font-calendar-regular--int, .react-calendar__tile {
  font-family: "Exo 2";
  font-weight: 300;
  font-size: 20px;
  text-transform: uppercase;
}

.font-form, .form__label--span, .ui.search.selection.dropdown {
  font-family: "Exo 2";
  font-size: 16px;
  font-weight: 300;
}

.font-form-label, .form__label, .main-menu__card-list__pet__pet-name, .addNewEntry__form__label {
  font-family: "Exo 2";
  font-size: 20px;
  font-weight: 300;
}

.font-form-title, .form__title {
  font-family: "Exo 2";
  font-style: italic;
  font-weight: 300;
  font-size: 24px;
}

.font-form-title--main, .addNewEntry__title {
  font-family: "Exo 2";
  font-style: italic;
  font-weight: 300;
  font-size: 28px;
  color: RGBA(162, 227, 196, 0.5);
}

/********************************** CALENDAR STYLES *******************************/
.calendar-main, .react-calendar {
  background-color: #ffffff;
  max-height: 70vh;
  width: 51.5vw;
  padding: 16px 16px;
}

.calendar-days, .react-calendar__month-view__days {
  height: 65vh;
  padding: 16px;
}

.calendar-tile, .react-calendar__tile {
  border-radius: 5px;
  background-color: #ffffff;
  margin: 8px 0px;
  padding: 12px 8px;
}

.calendar-tile:active, .react-calendar__tile:active {
  cursor: pointer;
}

.calendar-tile:hover, .react-calendar__tile:hover {
  cursor: pointer;
  background-color: #ade6ca;
}

.calendar-tile:disabled, .react-calendar__tile:disabled {
  cursor: not-allowed;
  background-color: #f0f7f4;
}

.calendar-navigation, .react-calendar__navigation {
  width: 100%;
  height: 3.5rem;
  margin-bottom: 12px;
}

.calendar-navigation--arrow, .react-calendar__navigation__arrow {
  border-radius: 5px;
  background-color: #f0f7f4;
  width: 10%;
  cursor: pointer;
}

.calendar-navigation--label, .react-calendar__navigation__label {
  border-radius: 5px;
  cursor: pointer;
  background-color: #0a0a0a;
  color: #f2f7f5;
}

.calendar-year-decade-century, .react-calendar__century-view .react-calendar__tile, .react-calendar__decade-view .react-calendar__tile, .react-calendar__year-view .react-calendar__tile {
  background-color: transparent;
  height: 9vh;
}

.calendar-year-decade-century:hover, .react-calendar__century-view .react-calendar__tile:hover, .react-calendar__decade-view .react-calendar__tile:hover, .react-calendar__year-view .react-calendar__tile:hover {
  background-color: #ade6ca;
}

.calendar-year-decade-century:disabled, .react-calendar__century-view .react-calendar__tile:disabled, .react-calendar__decade-view .react-calendar__tile:disabled, .react-calendar__year-view .react-calendar__tile:disabled {
  cursor: not-allowed;
  background-color: #f0f7f4;
}

/**********************************MODAL STYLES*************************************/
/**********************************FORM STYLES*************************************/
/**********************************MISC STYLES*************************************/
.polygon, .btn__start, .main-menu__card-list__pet {
  -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
          clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}

.close-animation {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 1s ease-in 0.5s;
  transition: all 1s ease-in 0.5s;
}

.close-animation--active {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

@font-face {
  font-family: "Exo 2";
  src: url("../../src/assets/fonts/Exo2-ExtraBold.woff2") format("woff2"), url("../../src/assets/fonts/Exo2-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Exo 2";
  src: url("../../src/assets/fonts/Exo2-ExtraBoldItalic.woff2") format("woff2"), url("../../src/assets/fonts/Exo2-ExtraBoldItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Exo 2";
  src: url("../../src/assets/fonts/Exo2-ExtraLight.woff2") format("woff2"), url("../../src/assets/fonts/Exo2-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Exo 2";
  src: url("../../src/assets/fonts/Exo2-Thin.woff2") format("woff2"), url("../../src/assets/fonts/Exo2-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Exo 2";
  src: url("../../src/assets/fonts/Exo2-ThinItalic.woff2") format("woff2"), url("../../src/assets/fonts/Exo2-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Exo 2";
  src: url("../../src/assets/fonts/Exo2-SemiBoldItalic.woff2") format("woff2"), url("../../src/assets/fonts/Exo2-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Exo 2";
  src: url("../../src/assets/fonts/Exo2-MediumItalic.woff2") format("woff2"), url("../../src/assets/fonts/Exo2-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Exo 2";
  src: url("../../src/assets/fonts/Exo2-Regular.woff2") format("woff2"), url("../../src/assets/fonts/Exo2-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Exo 2";
  src: url("../../src/assets/fonts/Exo2-Light.woff2") format("woff2"), url("../../src/assets/fonts/Exo2-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Exo 2";
  src: url("../../src/assets/fonts/Exo2-Black.woff2") format("woff2"), url("../../src/assets/fonts/Exo2-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Exo 2";
  src: url("../../src/assets/fonts/Exo2-Medium.woff2") format("woff2"), url("../../src/assets/fonts/Exo2-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Exo 2";
  src: url("../../src/assets/fonts/Exo2-LightItalic.woff2") format("woff2"), url("../../src/assets/fonts/Exo2-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Exo 2";
  src: url("../../src/assets/fonts/Exo2-ExtraLightItalic.woff2") format("woff2"), url("../../src/assets/fonts/Exo2-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Exo 2";
  src: url("../../src/assets/fonts/Exo2-SemiBold.woff2") format("woff2"), url("../../src/assets/fonts/Exo2-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Exo 2";
  src: url("../../src/assets/fonts/Exo2-Italic.woff2") format("woff2"), url("../../src/assets/fonts/Exo2-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Exo 2";
  src: url("../../src/assets/fonts/Exo2-Bold.woff2") format("woff2"), url("../../src/assets/fonts/Exo2-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Exo 2";
  src: url("../../src/assets/fonts/Exo2-BlackItalic.woff2") format("woff2"), url("../../src/assets/fonts/Exo2-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Exo 2";
  src: url("../../src/assets/fonts/Exo2-BoldItalic.woff2") format("woff2"), url("../../src/assets/fonts/Exo2-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../../src/assets/fonts/PlayfairDisplay-MediumItalic.woff2") format("woff2"), url("../../src/assets/fonts/PlayfairDisplay-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../../src/assets/fonts/PlayfairDisplay-SemiBoldItalic.woff2") format("woff2"), url("../../src/assets/fonts/PlayfairDisplay-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../../src/assets/fonts/PlayfairDisplay-Medium.woff2") format("woff2"), url("../../src/assets/fonts/PlayfairDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../../src/assets/fonts/PlayfairDisplay-SemiBold.woff2") format("woff2"), url("../../src/assets/fonts/PlayfairDisplay-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../../src/assets/fonts/PlayfairDisplay-ExtraBoldItalic.woff2") format("woff2"), url("../../src/assets/fonts/PlayfairDisplay-ExtraBoldItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../../src/assets/fonts/PlayfairDisplay-Black.woff2") format("woff2"), url("../../src/assets/fonts/PlayfairDisplay-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../../src/assets/fonts/PlayfairDisplay-Italic.woff2") format("woff2"), url("../../src/assets/fonts/PlayfairDisplay-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../../src/assets/fonts/PlayfairDisplay-Bold.woff2") format("woff2"), url("../../src/assets/fonts/PlayfairDisplay-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../../src/assets/fonts/PlayfairDisplay-BlackItalic.woff2") format("woff2"), url("../../src/assets/fonts/PlayfairDisplay-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../../src/assets/fonts/PlayfairDisplay-BoldItalic.woff2") format("woff2"), url("../../src/assets/fonts/PlayfairDisplay-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../../src/assets/fonts/PlayfairDisplay-ExtraBold.woff2") format("woff2"), url("../../src/assets/fonts/PlayfairDisplay-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../../src/assets/fonts/PlayfairDisplay-Regular.woff2") format("woff2"), url("../../src/assets/fonts/PlayfairDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.btn__start {
  -webkit-animation: spin 15s linear infinite;
          animation: spin 15s linear infinite;
  width: 120px;
  height: 120px;
  background-color: #7e8d85;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.btn__start:hover {
  background-color: #6d7b74;
}

.btn__start__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: relative;
}

.btn__start__txt {
  position: absolute;
  z-index: 1;
  top: 45px;
  color: #f2f7f5;
}

.btn__open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 2.5vw;
  height: 100%;
  background-color: #1f2321;
  color: #edf2f4;
}

.btn__next {
  width: 25vw;
  height: 5vh;
  background-color: transparent;
}

.btn__next:hover {
  background-color: RGBA(162, 227, 196, 0.5);
}

.btn__card {
  margin: 8px;
  padding: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background-color: #b1bfb4;
}

.btn__card:hover {
  background-color: #97aa9c;
}

.btn__card--text {
  padding: 0px 8px;
}

.progress-bar {
  width: 270px;
}

.ui.progress .bar {
  background: #519e8a;
  height: 20px;
}

.ui.progress .bar .progress {
  left: 120px;
  text-align: center;
}

.clock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-top: 40px;
}

.clock__time {
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.form__label {
  margin: 24px 0px;
}

.form__label--span {
  padding: 8px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.form__input {
  text-align: center;
  width: 15vw;
  height: 4vh;
  border: rgba(34, 36, 38, 0.15) 1px solid;
}

.form__input:focus .form__input:active {
  border: rgba(34, 36, 38, 0.15) 1px solid;
}

.form__button {
  margin: 32px;
  background-color: #7e8d85;
  color: white;
}

.form__button:hover {
  color: white;
  background-color: #6d7b74;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html body {
  font-family: "Exo 2";
  background-color: #ffffff;
  width: 100vw;
}

.card__list {
  border-top: #9baba1 6px solid;
  margin: 16px;
}

.card__item {
  padding: 16px;
  background-color: #f0f7f4;
}

.card__title__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 8px 8px;
  border-bottom: #9baba1 2px solid;
}

.card__title__container--title {
  margin: 0;
}

.card__type__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 8px 8px;
}

.card__type__container--type {
  margin: 0;
}

.card__type__container--Contributions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.card__entries {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.card-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 32px 16px;
  height: 100%;
  width: 19.1vw;
  overflow-y: scroll;
}

.card-section__button--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.modal__btn {
  color: white;
  background-color: #b1bfb4;
  width: 60px;
  height: 25px;
}

.modal__btn:hover {
  background-color: #97aa9c;
}

.modal__btn--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.react-calendar__century-view .react-calendar__tile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.react-calendar__decade-view .react-calendar__tile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.react-calendar__year-view .react-calendar__tile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.react-calendar__month-view {
  padding: 12px 0px;
  border-top: #9baba1 4px double;
  background-color: test1;
}

.react-calendar__month-view__weekdays__weekday {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 8px 16px;
}

.react-calendar__month-view abbr {
  text-decoration: none;
}

.react-calendar__tile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: relative;
}

.react-calendar__tile--now {
  background-color: RGBA(162, 227, 196, 0.5);
}

.react-calendar__tile--range {
  background-color: #ade6ca;
}

.react-calendar__tile--hover {
  background-color: #ade6ca;
}

.header {
  background-color: #3c493f;
  border-bottom: #516355 7px solid;
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  height: 7%;
  width: 100%;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 12px 160px 0;
}

.header__item {
  margin: 0 40px;
}

.header__container__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  left: 18%;
  position: absolute;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  position: relative;
  background-color: #f0f7f4;
  width: 40vw;
  max-height: auto;
  margin: 0 auto;
}

.menu__home-title {
  color: #2e2c2f;
}

.menu__home-title__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: absolute;
  z-index: 2;
  width: 10%;
  height: 100%;
  background-color: #f0f7f4;
  border-right: #9baba1 10px double;
  border-left: #e3e8e5 4px solid;
}

.menu__options {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  background-color: #f0f7f4;
}

.sideBar {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

.sideBar--isactive {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.side-bar__content {
  width: 100%;
  height: 85%;
}

.side-bar__pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: relative;
  z-index: 1;
  padding: 24px;
}

.side-bar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: absolute;
  top: -85px;
  width: 100%;
  height: 100%;
}

.footer {
  border-top: #9baba1 10px ridge;
  background-color: #1f2321;
  position: fixed;
  z-index: 4;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6%;
}

.footer__icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.footer__icon-container__item {
  margin: 12px;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100vw;
  height: 100%;
  position: fixed;
  background: url(../../src/assets/img/calendula.png) no-repeat bottom;
  background-size: cover;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-bottom: 40px;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 70vw;
  position: relative;
  height: 99vh;
}

.home__main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 76px;
}

.home__header {
  border-bottom: #516355 7px solid;
}

.calendar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
}

.calendar__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.main-menu {
  position: absolute;
  height: 95%;
  left: 50px;
  z-index: 1;
  overflow-y: scroll;
  padding: 16px 24px;
}

.main-menu__card-list {
  border-top: #9baba1 6px solid;
  background-color: #f0f7f4;
  width: 21vw;
  margin: 40px 0px;
}

.main-menu__card-list:hover {
  background-color: RGBA(162, 227, 196, 0.5);
}

.main-menu__card-list__goal {
  padding: 8px 16px;
}

.main-menu__card-list__item {
  padding: 8px 0px;
}

.main-menu__card-list__label--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.main-menu__card-list__col-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: #9baba1 2px solid;
  padding: 8px 0px;
}

.main-menu__card-list__col-container--info {
  margin: 8px 0px;
}

.main-menu__card-list__pet {
  background-image: url("../assets/img/petbg-5.jpg");
  background-size: contain;
  -o-object-position: -1.5px -10px;
     object-position: -1.5px -10px;
  width: 90px;
  height: 90px;
}

.main-menu__card-list__pet__pet-name {
  margin: 16px 0px;
}

.main-menu__card-list__pet--img-container {
  margin: 16px 12px;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #9baba1;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px grey;
          box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #3c493f;
  border-radius: 10px;
}

.newPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: absolute;
  z-index: 1;
  top: 0;
  background-color: #f0f7f4;
  width: 100%;
  padding: 20px 0px;
}

.ui.search.selection.dropdown {
  padding: 8px;
  min-width: 15rem;
}

.ui.search.selection.dropdown:hover {
  border-color: #729b79a6;
}

.ui.search.selection.dropdown:focus {
  border-color: #729b79a6;
}

.addNewEntry__title {
  color: #2e2c2f;
}

.addNewEntry__form__selection {
  padding: 0px;
  margin: 16px;
}

.addNewEntry__form__selection--container {
  margin-top: 40px;
  margin-bottom: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
/*# sourceMappingURL=main.css.map */